# Ignore all directories
*/

# # Ignore all non-Python files
# *
# !*.py
config.py
# Example of ignoring specific directories
node_modules/
venv/

# Ignoring specific files
*.log
*.csv
*.tsv
*.json
*.md

# Exceptions for specific directories or files to be tracked
# !/src/
# !/README.md
